<!DOCTYPE html>
<html>
    <head>
        {{> prereqs }}
        <link rel='stylesheet' href='/stylesheets/authConfirmed.css'/>
    </head>
    <body class="sandboxtwo">
        {{> header }}
        <div class="page-content tab">
        <div class="mainContent .col-xs-12 .col-md-6">
            <h2>Authentication Success</h2>
            <br>
            <form action="/portfolio" method="post" id="portfolioForm">
                <select name="account" class="form-control">
                    {{#each userData.accountList}}
                        <option value={{accountNumber}}> {{accountNumber}}  {{name}} </option>
                    {{/each}}
                </select>
                <br>
                <button class="buttons" type="submit" id="viewPortfolio" value="Send" style="display: none">View Portfolio</button>
            </form>

            <form action="/tradingTicket" method="post" id="getTradingTicketForm">
                <div class="hidden">
                </div>
                <button class="btn btn-success" type="submit" id="getTradingTicket" value="Send">Proceed to Trading</button>
            </form>
            <br>
            <button class="btn btn-danger" id="closeSession">Close Session</button>
        </div>

    <form action="/authError" method="post" id="sessionExpired" class="hidden">
        <input id="shortMessage" name="shortMessage"></input>
        <input id="longMessage" name="longMessage"></input>
        <button class="btn btn-primary" id="sendErrorMgs"></button>
    </form>
    </div>
    {{> footer }}
    </body>

</html>
<script src="/javascripts/jquery-2.2.0.min.js"></script>
<script src="/javascripts/jquery_cookie.js"></script>
<script>
    var account = "{{userData.accountList.0.accountNumber}}";
    var apiKey = "{{userData.apiKey}}";
    var sessionToken = "{{userData.sessionToken}}";

    /***********************************************************/
    /* User can select accountNumber for the logged in broker  */
    /* Choose to view Portfolio or trade                       */
    /***********************************************************/
    $(function(){
        $('select').on('change', function() {
            account = this.value;
        });

        //$('#getTradingTicket').on('click', function(){
        //    getTradingTicket();
        //});

        $('#closeSession').on('click', function(){
            triggerCloseSession();
        });
    });

    var getTradingTicket = function(){
        $('#getTradingTicketForm div').append("<input name='accountNumber' value=" + account + "></input>");
        $('#getTradingTicketForm div').append("<input name='sessionToken' value=" + sessionToken + "></input>");
    };

    var triggerCloseSession = function(){
        $.ajax({
            data: {token: sessionToken, apiKey: apiKey},
            dataType: "json",
            method: "POST",
            url: "https://ems.qa.tradingticket.com/api/v1/user/closeSession",
            success: parseCloseSession
        });
    };

    var parseResult = function(result){
        if(result.status == "ERROR"){
            $('#shortMessage').val(result.shortMessage);
            $('#longMessage').val(result.longMessages[0]);
            $('#sendErrorMgs').click();
        }
    };

    var parseCloseSession = function(result){
        if(result.status == "SUCCESS"){
            $('#closeSession').addClass("hidden");
            window.alert("Session is now closed");
            window.location.replace("/");
        }else {
            parseResult(result);
        }
    }

</script>
