<!DOCTYPE html>
<html>
<head>
    {{> prereqs }}
    <link rel='stylesheet' href='/stylesheets/tradingTicket.css'/>
</head>
<body class="sandboxtwo">
  {{> header }}
  <div class="page-content tab">
    <h2>Trading Ticket</h2>
    <div id="tradeInput">
        <input class="hidden" id="accountNumber" name="accountNumber" value={{data.accountNumber}}></input>
        <p class="title"><h4>Ticker Name: </h4></p><input class="form-control" id="orderSymbolSet" name="orderSymbol" style="width: 15vw"></input>
        <p class="title"><h4>Order Quantity: </h4></p><input class="form-control" id="orderQuantitySet" name="orderQuantity" type="number" style="width: 15vw"></input>
        <p class="title"><h4>Order Action: </h4></p>
        <select name="orderAction" class="form-control">
            <option value="buy">buy</option>
            <option value="sell">sell</option>
        </select>
        <p class="title"><h4>Order Price Type: </h4></p>
        <select id="priceType" name="orderPriceType" class="form-control">
            <option value="market">market</option>
            <option value="limit">limit</option>
        </select>

        <p class="title hidden limit">Order Limit Price: </p>
        <input id="orderLimitPrice" class="hidden limit" name="orderLimitPrice" type="number"></input>

        <p class="title"><h4>Order Expiration: </h4></p>
        <select name="orderExpiration" class="form-control">
            <option value="day">day</option>
            <option value="gtc">gtc</option>
        </select>
        <br />
        <button id="reviewOrder" class="btn btn-warning">Review Order</button>
    </div>

    <div class="hidden" id="reviewScreen">
        <span class="text-info">Review Screen:</span><br><br>
        <span id="orderSymbol"></span><br>
        <span id="orderAction"></span><br>
        <span id="orderQuantity"></span><br>
        <span id="orderExpiration"></span><br>
        <span id="orderPrice"></span><br>
        <span id="orderValueLabel"></span><br>
        <span id="orderMessage"></span><br>
        <span id="timestamp"></span><br>
        <span id="buyingPower"></span><br>
        <span id="availableCash"></span><br>
        <span id="estimatedOrderCommission"></span>
        <br><br>
        <button class="btn btn-danger" id="cancel">Cancel</button>
        <button class="btn btn-success" id="placeOrder">Place Order</button>

    </div>

    <div class="hidden" id="confirmationScreen">
      <span class="text-primary" style="font-size: large;">Confirmation Screen:</span><br><br>
      <span style="font-size: large;" id="confirmationMessage"></span><br><br>
      <span style="font-size: large;" id="orderNumber"></span><br><br>
    </div>

    <form action="/authError" method="post" id="sessionExpired" class="hidden">
        <input id="shortMessage" name="shortMessage"></input>
        <input id="longMessage" name="longMessage"></input>
        <button class="buttons" id="sendErrorMgs"></button>
    </form>
    <br/>
    <form action="/tradingTicket" method="post" id="backToTT" class="hidden">
        <button class="btn btn-primary" id="goBkToTT">Make another Trade</button>
    </form>
    <br/>
    <form action="/portfolio" method="post" id="backToPortfolio" class="hidden" style="display: none;">
        <button class="buttons" id="goToPortfolio">View Portfolio</button>
    </form>
  </div>
  {{> footer }}
</body>

</html>
<script src="/javascripts/jquery-2.2.0.min.js"></script>
<script>

    $(function(){
        $('#reviewOrder').on('click', function(){
            getPreviewOrder();
        });

        $('#priceType').on('change', function() {
            if ($(this).val() == 'limit') {
                $('.limit').removeClass('hidden');
            }
            else if($(this).val() == 'market') {
                $('.limit').addClass('hidden');
            }
        });

        $('#backToTT').on('click', function(){
            backToTradingTicket();
        });

        $('#goToPortfolio').on('click', function(){
            toPortfolio();
        });
    });

    var getPreviewOrder = function(){
        var postData = {};
        postData.token = "{{data.sessionToken}}";
        postData.orderSymbol = $('#orderSymbolSet').val();
        postData.accountNumber = $('#accountNumber').val();
        postData.orderQuantity = $('#orderQuantitySet').val();
        postData.orderAction = $('select[name=orderAction]').val();
        postData.orderPriceType = $('select[name=orderPriceType]').val();
        postData.orderExpiration = $('select[name=orderExpiration]').val();
        if(postData.orderPriceType == "limit"){
            postData.orderLimitPrice = $('#orderLimitPrice').val();
        }

        $.ajax({
            data: postData,
            dataType: "jsonp",
            method: "POST",
            url: "https://ems.qa.tradingticket.com/api/v1/order/previewStockOrEtfOrder",
            success: parseResult
        });

    };

    var parseResult = function(data){
        if(data.status == "REVIEW_ORDER"){
            $('#reviewScreen').removeClass('hidden');
            $('#tradeInput').addClass('hidden');
            if(data.orderDetails){
                $('#orderSymbol').text("Order Symbol: " + data.orderDetails.orderSymbol);
                $('#orderAction').text("Order Action: " + data.orderDetails.orderAction);
                $('#orderQuantity').text("Order Quantity: " + data.orderDetails.orderQuantity);
                $('#orderExpiration').text("Order Expiration: " + data.orderDetails.orderExpiration);
                $('#orderPrice').text("Order Price: " + data.orderDetails.orderPrice);
                $('#orderValueLabel').text("Order Value Label: " + data.orderDetails.orderValueLabel);
                $('#orderMessage').text("Order Message: " + data.orderDetails.orderMessage);
                $('#timestamp').text("Timestamp: " + data.orderDetails.timestamp);
                $('#buyingPower').text("Buying Power: " + data.orderDetails.buyingPower);
                $('#availableCash').text("Available Cash: " + data.orderDetails.availableCash);
                $('#estimatedOrderCommission').text("Estimated Order Commission: " + data.orderDetails.estimatedOrderCommission);


                $('#cancel').on('click', function(){
                    $('#tradeInput').removeClass('hidden');
                    $('#reviewScreen').addClass('hidden');
                });

                $('#placeOrder').on('click', function(){
                    $('#placeOrder').addClass("disabled");
                    placeOrder(data.token, data.orderId)
                });
            }
            if(data.warningsList[0]){
                $('#reviewScreen').append("<p>warningMessage: " + data.warningsList[0] + "</p>");
            }
        }
        if(data.status == "ERROR"){
            $('#shortMessage').val(data.shortMessage);
            $('#longMessage').val(data.longMessages[0]);
            $('#sendErrorMgs').click();

        }
    };

    var placeOrder = function(sessionToken, orderId){
        $.ajax({
            data: {orderId: orderId, token: sessionToken},
            dataType: "jsonp",
            method: "POST",
            url: "https://ems.qa.tradingticket.com/api/v1/order/placeStockOrEtfOrder",
            success: orderPlaced
        });
    };

    var orderPlaced = function(data){
        if(data.status == 'SUCCESS'){
            $('#reviewScreen').addClass('hidden');
            $('#confirmationScreen').removeClass('hidden');

            $('#confirmationMessage').text(data.confirmationMessage);
            $('#orderNumber').text("orderNumber: " + data.orderNumber);
            $('#backToTT').removeClass('hidden');
            $('#backToPortfolio').removeClass('hidden');
        }
        if(data.status == 'ERROR'){
            $('#shortMessage').val(data.shortMessage);
            $('#longMessage').val(data.longMessages[0]);
            $('#sendErrorMgs').click();
        }
    }

    var backToTradingTicket = function(){
        $('#backToTT').append("<input class='hidden' name='accountNumber' value=" + "{{data.accountNumber}}" + "></input>");
        $('#backToTT').append("<input class='hidden' name='sessionToken' value=" + "{{data.sessionToken}}" + "></input>");
    };

    var toPortfolio = function(){
        $('#backToPortfolio').append("<input class='hidden' name='account' value=" + "{{data.accountNumber}}" + "></input>");
        $('#backToPortfolio').append("<input class='hidden' name='sessionToken' value=" + "{{data.sessionToken}}" + "></input>");
    };


</script>
